*{
    padding: 0;
    box-sizing: border-box;                 
}

body{
    background-color: black;
    color: white;
    font-family: "Archivo Black", sans-serif;
}

header, footer{
    background-color: rgb(43, 42, 42);
    color: white;               
}

header{
    padding: 20px; 
}

footer{
    margin-top: 5vw;
}

.rojo{                         
    background-color: black;
    color: red;
}

.centro{                        
    text-align: center;
}

section {
    text-align: center; 
    display: flex;
      
}

main {
    padding: 0 10px;
}

.margenMenu{                               
    margin-bottom: 3px;
    margin-left: 20px;
}

.margenMenu1{
    margin-bottom: 1px;
    margin-left: 20px;
}

.margenMenu2{
    margin-left: 20px;
}

.margenRedes{
    margin: auto;
}

footer section {
    display: flex;                  
    justify-content: space-between; 
    align-items: center;            
    width: 100%;                    
    padding: 20px 0;                
}

footer section div {
    flex: 1;                        
    text-align: center;             
}

a:hover{
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

/*MENU Hamburguesa*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70%;
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links img {
    width: 80%;
}

@media (min-width: 350px) and (max-width: 940px) {

main section img {
width: 40%;
height: auto;
justify-content: center;
align-items: center;
}

header {
    padding: 20px;
}

footer section div {
    flex: 1;
}

section {
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap; 
    text-align: center;
    gap: 10px;
}

.menu-icon {
    display: block;
}

.nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: black;
    text-align: center;
    padding: 20px 0;
}

#menu-toggle:checked ~ .nav-links {
    display: flex;
}

.nav-links img {
    width: 30%;
    margin: 10px 0;
}

}


